.btn {
        padding: $_25px $_40px;
        font-size: $_16px;
        font-weight: 800;
        line-height: 22px;
    
    &:focus {
        outline: dashed 2px #fff;
        outline-offset: 5px;
    }
}