.site-header {

    .wrapper {
        padding: $_40px $_24px;
    }

    @mixin atMedium {
        .wrapper {
            padding: 0 0 0 $_24px;
        }
    }

    @mixin atLarge {
        .wrapper {
            padding: 0;
            margin: 0 0 0 10.3125rem;
        }
    }

    &__logo {
        padding: 5px;
    }

    &__nav-toggle-btn {
        padding: .75em .5em;
        background: transparent;
        border: none;
        cursor: pointer;

        &:focus {
            outline: dashed 2px red;
            outline-offset: 5px;
        }

        @mixin atMedium {
            display: none;
        }
    }

    .hamburger {
        display: block;
        position: relative;
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background: $clr-grey;
        width: 24px;
        height: 2px;
        border-radius: 1em;
        transition: transform 250ms ease-out;
    }
    
    
    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
    }
    
    .hamburger::before { top: 6px; }
    .hamburger::after { bottom: 6px; }

    .nav-open .hamburger {
        transform: rotate(45deg);
    }
    
    .nav-open .hamburger::before {
        transform: rotate(90deg) translateX(-6px);
    }
    
    .nav-open .hamburger::after {
        opacity: 0;
    }

    &__menu-icon--close {
        &::before {
            transform: rotate(45deg);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}